.intro {
   padding: 0px 0px 95px 0px;

   @media (max-width:($md2 +px)) {
      padding: 0px 0px 0px 0px;
   }
}

.intro__container {
   padding: 0px 15px 105px 80px;
   margin: 0 auto;
   max-width: 1303px;
   display: flex;

   @media (max-width: 1018px) {
      padding: 0px 15px 50px 50px;
   }

   @media (max-width: ($md2 +px)) {
      padding: 0px 15px;
      flex-direction: column;
      text-align: center;
   }
}

.intro__info {
   padding: 28px 0px 0px 0px;

   @media (max-width:($md2 +px)) {
      padding: 0px 0px 0px 0px;
   }

   .intro-info__title {
      padding: 0px 0px 20px 0px;
      @include adaptive-font (50, 16);
      line-height: calc(70 / 50);
      font-weight: 500;
   }

   .intro-info__descr {
      padding: 0px 0px 52px 0px;
      width: 100%;
      line-height: calc(30 / 16);

      @media (max-width: ($md2 +px)) {
         padding: 0px 0px 30px 0px;
      }
   }

   .intro-info__link {
      padding: 21px 82px;
      display: inline-block;
      background-color: $buttonColor;
      color: $whiteColor;
      border-radius: 10px;
      transition: all 0.3s ease;

      &:hover {
         box-shadow: 0px 0px 30px $buttonColor;
      }
   }
}

.intro__pic {
   padding: 0px 0px 0px 0px;

   @media (max-width: 1018px) {
      padding: 30px 0px 0px 0px;
   }

   @media (max-width: ($md2 + px)) {
      padding: 0px 0px 20px 0px;
   }

   img {
      overflow: hidden;
   }
}


.intro__container-icons {
   padding: 67px 106px;

   @media (max-width: ($md2 +px)) {
      padding: 67px 10px;
   }
}

.intro__icons {
   @include center-between;
}

._icons__item {
   @include center;
   flex: 0 1 17%;

   @media (max-width: 600px) {
      @include column-center;
   }
}

._item__icon {
   margin-right: 36px;
   width: 55px;
   height: 55px;
   @include center;
   background: #FFECEC;
   border-radius: 70px;
   box-shadow: 0px 0px 10px $buttonColor;

   @media (max-width: 600px) {
      margin-right: 0px;
      margin-bottom: 9px;
   }
}

._item__info {
   @include column-center;

   @media (max-width: 600px) {
      text-align: center;
   }

   ._item__info_number {
      margin-bottom: 5px;
      @include adaptive-font (25, 16);
      font-weight: 700;
      line-height: calc(30 / 25);
      color: red;
   }

   ._item__info_name {
      @include adaptive-font (20, 16);
      line-height: calc(30 / 20);
      color: $textColor;
   }
}