.choose {
   padding: 0px 0px 150px 0px;

   @media (max-width: $md2 +px) {
      padding: 0px 0px 70px 0px;
   }
}

.choose__info {
   text-align: center;

   h2 {
      padding: 0px 0px 20px 0px;
      @include adaptive-font (35, 16);
      font-weight: 500;
      line-height: calc(50 / 35);
      color: $titleColor;
   }

   p {
      width: 50%;
      display: block;
      margin: 0 auto;
      padding: 0px 0px 60px 0px;
      @include adaptive-font (16, 16);
      line-height: calc(30 / 16);
      color: $textColor;

      @media (max-width: $md2 + px) {
         width: 100%;
      }
   }
}

.choose__plans {
   display: flex;
   justify-content: space-between;
   padding: 0px 44px;

   @media (max-width: $md2 +px) {
      padding: 0px 10px;
      flex-direction: column;
   }
}

._plan__item {
   height: 760px;
   padding: 3px;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 0 1 29.8%;
   background: #FFFFFF;
   border: 2px solid #DDDDDD;
   box-sizing: border-box;
   border-radius: 10px;
   transition: all 0.3s ease;
   cursor: pointer;

   &:hover {
      box-shadow: 0px 0px 30px $buttonColor;
   }

   @media (max-width: $md2 +px) {
      padding: 10px;
      margin-bottom: 20px;
      flex-direction: row;
      justify-content: space-between;

      &:last-child {
         margin-bottom: 0px;
      }
   }

   @media (max-width: $md3 +px) {
      flex-direction: column;
   }

   img {
      padding: 71px 0px 30px 0px;

      @media (max-width: $md2 +px) {
         padding: 10px 0px;
      }
   }

   span {
      padding: 0px 0px 30px 0px;
      @include adaptive-font (18, 16);
      font-weight: 500;
      line-height: calc(30 / 18);
      color: $titleColor;

      @media (max-width: $md2 +px) {
         flex: 1 1 20%;
         padding: 10px 0px;
      }
   }

   ul {
      flex: 1 1 auto;

      @media (max-width: $md2 +px) {
         flex: 1 1 auto;
         align-items: center;
         justify-content: center;
         text-align: center;
      }

      @media (max-width: $md3 +px) {
         padding: 0px 0px 20px 0px;
      }

      li {
         display: flex;
         align-items: center;
         margin-bottom: 10px;
         @include adaptive-font (14, 16);
         line-height: calc(30 / 14);
         color: $textColor;

         @media (max-width: $md2 +px) {
            width: 215px;
            align-items: center;
            text-align: center;
         }

         &:last-child {
            margin-bottom: 0px;
         }
      }
   }
}

.fa-check {
   margin-right: 25px;
   color: #2FAB73;
}

._item__price {
   padding: 0px 0px 46px 0px;
   display: flex;
   flex-direction: column;
   text-align: center;

   @media (max-width: $md2 +px) {
      padding: 0px 0px 0px 0px;
   }

   span {
      padding: 0px 0px 18px 0px;
      @include adaptive-font (25, 16);
      font-weight: 500;
      line-height: calc(30 / 25);
   }

   a {
      padding: 13px 62px;
      color: $buttonColor;
      border: 2px solid #F53838;
      box-sizing: border-box;
      border-radius: 50px;
      transition: all 0.3s ease;

      &:hover {
         background-color: $buttonColor;
         color: $whiteColor;
         box-shadow: 0px 0px 30px $buttonColor;
      }
   }
}