.global {
   padding: 0px 0px 50px 0px;
   text-align: center;
}

.global__container {
   padding: 0px 3px;

   .global__title {
      padding: 0px 0px 20px 0px;
      margin: 0 auto;
      width: 37%;
      display: block;
      @include adaptive-font (35, 16);
      font-weight: 500;
      line-height: calc(50 / 35);
      color: $titleColor;

      @media (max-width: ($md2 +px)) {
         width: 100%;
      }
   }

   .global__descr {
      padding: 0px 0px 155px 0px;
      margin: 0 auto;
      width: 45%;
      display: block;
      line-height: calc(30 / 16);
      color: $textColor;

      @media (max-width: ($md2 +px)) {
         padding: 0px 0px 50px 0px;
         width: 100%;
      }
   }
}

.global__pic {
   padding: 0px 0px 34px 0px;
   cursor: pointer;
   transition: all 0.3s ease;

   &:hover {
      box-shadow: 0px 0px 30px $buttonColor;
   }
}

.global__brends {
   padding: 0px 10px;
   @include center;
   flex-wrap: wrap;

   img {
      margin-right: 47.5px;

      @media (max-width: ($md2 +px)) {
         margin-right: 0px;
      }

      &:last-child {
         margin-right: 0px;
      }
   }
}