@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-ant-design_star-filled:before {
  content: "\e900";

}

._icon-Button-act-eva_arrow-back-fill:before {
  content: "\e901";
}

._icon-Button-nonact-eva_arrow-back-fill:before {
  content: "\e902";
}

._icon-bx_bxs-check-circle:before {
  content: "\e903";
  color: green;
  margin-right: 9px;
  font-size: 25px;
}

._icon-Icon-bx_bxs-server:before {
  content: "\e904";
  font-size: 25px;
  color: $buttonColor;
}

._icon-Icon-gridicons_location:before {
  content: "\e905";
  font-size: 25px;
  color: $buttonColor;
}

._icon-Icon-heroicons_sm-user:before {
  content: "\e906";
  font-size: 25px;
  color: $buttonColor;
}