$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$titleColor: #0B132A;
$textColor:#4F5665;
$buttonColor:#F53838;

$whiteColor:#fff;
$blackColor:#000;

$pcSize: 16px;
$mobSize: 16px;